<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>
http://116.224.87.17/qiniu-app-cdn.pgyer.com/2446158f3ac7dfe331f19490ae887fb2.ipa?e=1472828073&attname=%E5%BE%AE%E4%BF%A1.ipa&token=6fYeQ7_TVB5L0QSzosNFfw2HU8eJhAirMF5VxV9G:DMp0fOk08MViAUOP94VfWouyyaE=&wsiphost=local</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.fnst.smartwork</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>xxx.ipa</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
